_*/
_*.*
data/*/
rsconnect/
scenarios/prev/
results/**/*spf*
results/**/*blm*
results/**/*numitns*
results/**/*numitns*
results/**/output*
results/**/*.png
results/**/*.webp
shiny.log/
shiny.dev/
dev/
resources/question*/
resources/question.html
resources/info.md
branch/

**/md5
FarMenu.ini
SciTE.session 
inventory.rds.*
*.link
*.html
README.Rmd
